# HW2 - Pandas and ICD-codes

### Get the data

For this assignment, we'll need to get some data! We will be using the Diabetes Dataset that is located here:

https://archive.ics.uci.edu/ml/datasets/diabetes+130-us+hospitals+for+years+1999-2008#

Afterwards, unzip the folder and place the contents in a folder called `/data/` at this directory.

Make sure to add a file called `.gitignore` at the root of your directory and add the line 

```
    data/
```
to it so that it ignore any files that you place in the Data folder.

In [569]:
import pandas as pd
import numpy as np
import string
import re

In [787]:
diabetes_df = pd.read_csv('./data/diabetic_data.csv')

![](data/datadictionary.png)

## Data Source [5 pts]

When we begin working with data, it is important to try and understand the data that we've been given. Often the context can tell us a lot of information about the data. In fact, often times understanding what is *not* in the data is just as critical as understanding the data itself. From the above link, the information about how the data was collected can be found in this [paper](https://www.hindawi.com/journals/bmri/2014/781670/)

List the 5 inclusion criteria to be in the dataset: 

1. Data Assembly
2. Extraction of the Initial Dataset from the Database
3. Preliminary Analysis and the Final Dataset
4. Statistical Methods
5. Ethical and Legal Issues

## Explore the Data [55 pts]
Using the data, answer the following questions:

#### 1. How many rows does the `diabetes_df` have? How many columns? [2.5 pts]

In [571]:
total_rows=len(diabetes_df.axes[0])
total_cols=len(diabetes_df.axes[1])
print('Number of Rows: '+str(total_rows))
print('Number of Columns: '+str(total_cols))

Number of Rows: 101766
Number of Columns: 50

#### 2. How many unique encounters are there? How many unique patients? [2.5 pts]

In [572]:
print('Number unique encounters: '+str(total_rows))
total_patients = diabetes_df['patient_nbr'].sum()
print ('Number unique patients: '+str(total_patients))

Number unique encounters: 101766
Number unique patients: 5528987557122

#### 3. What is the most amount of encounters that a single patient has in the dataset? [5 pts]

In [573]:
diabetes_df.loc[diabetes_df['patient_nbr'].idxmax()]

encounter_id                371459060
patient_nbr                 189502619
race                        Caucasian
gender                           Male
age                           [40-50)
weight                              ?
admission_type_id                   2
discharge_disposition_id            1
admission_source_id                 1
time_in_hospital                    5
payer_code                         HM
medical_specialty                   ?
num_lab_procedures                 35
num_procedures                      4
num_medications                    23
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                            553
diag_2                            518
diag_3                            V85
number_diagnoses                    8
max_glu_serum                    None
A1Cresult                        None
metformin                          No
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                        No
acetohexamide                      No
glipizide                          No
glyburide                          No
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                            Up
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             Ch
diabetesMed                       Yes
readmitted                         NO
Name: 96147, dtype: object

In [574]:
most_amount_encounter_id = diabetes_df.loc[diabetes_df['patient_nbr'].idxmax()]
print('the most amount of encounters: '+str(most_amount_encounter_id[0]))
print('the amount of patients in above encounter_id: '+str(most_amount_encounter_id[1]))

the most amount of encounters: 371459060
the amount of patients in above encounter_id: 189502619

#### 4. Show the proportion of non-missing values are in the dataset for each column. [10 pts]
> Make sure you check to see if there are missing values that aren't coded as missing, but should be

In [575]:
diabetes_df.replace({'?': np.nan}, regex=False,inplace=True)
missing = diabetes_df.isnull().sum()
percent_nonmissing = (len(diabetes_df) - missing) * 100/ len(diabetes_df)
nonmissing_value_df = pd.DataFrame({'column_name': diabetes_df.columns,
                                    'percent_nonmissing': percent_nonmissing})
percent_nonmissing

encounter_id                100.000000
patient_nbr                 100.000000
race                         97.766445
gender                      100.000000
age                         100.000000
weight                        3.141521
admission_type_id           100.000000
discharge_disposition_id    100.000000
admission_source_id         100.000000
time_in_hospital            100.000000
payer_code                   60.442584
medical_specialty            50.917792
num_lab_procedures          100.000000
num_procedures              100.000000
num_medications             100.000000
number_outpatient           100.000000
number_emergency            100.000000
number_inpatient            100.000000
diag_1                       99.979364
diag_2                       99.648213
diag_3                       98.601694
number_diagnoses            100.000000
max_glu_serum               100.000000
A1Cresult                   100.000000
metformin                   100.000000
repaglinide                 100.000000
nateglinide                 100.000000
chlorpropamide              100.000000
glimepiride                 100.000000
acetohexamide               100.000000
glipizide                   100.000000
glyburide                   100.000000
tolbutamide                 100.000000
pioglitazone                100.000000
rosiglitazone               100.000000
acarbose                    100.000000
miglitol                    100.000000
troglitazone                100.000000
tolazamide                  100.000000
examide                     100.000000
citoglipton                 100.000000
insulin                     100.000000
glyburide-metformin         100.000000
glipizide-metformin         100.000000
glimepiride-pioglitazone    100.000000
metformin-rosiglitazone     100.000000
metformin-pioglitazone      100.000000
change                      100.000000
diabetesMed                 100.000000
readmitted                  100.000000
dtype: float64

#### 5. For all numeric columns, show summary statistics (mean, median, max, min, etc) [2.5 pts]

In [576]:
diabetes_df.select_dtypes(include=np.number)
diabetes_df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

#### 6. For all columns with a `dtype` of object, show the count of all of the values in that column [5 pts]
> You may want to reference the `pd.DataFrame.select_dtypes()` function

In [577]:
diabetes_df.dtypes
object_col_df = diabetes_df.select_dtypes(include=np.object)
object_col_df.count()

race                         99493
gender                      101766
age                         101766
weight                        3197
payer_code                   61510
medical_specialty            51817
diag_1                      101745
diag_2                      101408
diag_3                      100343
max_glu_serum               101766
A1Cresult                   101766
metformin                   101766
repaglinide                 101766
nateglinide                 101766
chlorpropamide              101766
glimepiride                 101766
acetohexamide               101766
glipizide                   101766
glyburide                   101766
tolbutamide                 101766
pioglitazone                101766
rosiglitazone               101766
acarbose                    101766
miglitol                    101766
troglitazone                101766
tolazamide                  101766
examide                     101766
citoglipton                 101766
insulin                     101766
glyburide-metformin         101766
glipizide-metformin         101766
glimepiride-pioglitazone    101766
metformin-rosiglitazone     101766
metformin-pioglitazone      101766
change                      101766
diabetesMed                 101766
readmitted                  101766
dtype: int64

#### 7. What is the average number of labs administered by age category [2.5 pts]

In [578]:
diabetes_df.groupby(['age']).agg('mean')

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
age,,,,,,,,,,,,,
[0-10),7.274484e+07,2.789261e+07,1.807453,2.683230,5.645963,2.546584,41.012422,0.180124,6.180124,0.012422,0.031056,0.080745,2.695652
[10-20),1.172702e+08,3.835759e+07,1.762663,2.150507,5.610709,3.191027,43.096961,0.335745,8.277858,0.170767,0.156295,0.532562,3.947902
[20-30),1.597360e+08,4.991599e+07,1.914303,2.387447,5.634279,3.564876,43.066385,0.767049,11.972842,0.366325,0.578153,1.338564,5.866626
[30-40),1.534458e+08,4.976364e+07,2.014570,2.556026,5.710464,3.799735,43.033642,1.113377,14.091656,0.290861,0.490331,0.762649,6.452980
[40-50),1.567450e+08,5.218466e+07,2.001549,2.942075,5.809912,4.039649,42.785958,1.341662,15.391017,0.329892,0.356840,0.724109,6.948787
[50-60),1.607342e+08,5.211858e+07,2.052909,3.242524,5.534886,4.125753,42.611961,1.556096,16.584492,0.328002,0.222473,0.615090,7.238584
[60-70),1.672854e+08,5.455034e+07,2.068630,3.574034,5.399947,4.382244,42.600632,1.573367,17.150425,0.388071,0.162434,0.606147,7.506427
[70-80),1.632275e+08,5.418932e+07,2.074996,4.105915,5.795036,4.590878,43.157396,1.377896,16.407818,0.393011,0.131080,0.610365,7.651795
[80-90),1.776893e+08,5.925575e+07,1.928592,4.484096,6.227482,4.808629,44.085015,1.023027,15.326685,0.417108,0.144269,0.609118,7.888702
[90-100),1.832103e+08,5.892333e+07,1.830648,4.889008,6.653061,4.755818,44.695310,0.670247,13.820265,0.273899,0.131042,0.558539,7.884712

#### 8. Does the number of diagnoses equal the number of non-NA entries in the diag_* columns? [2.5 pts]

In [579]:
print('No')

No

#### 9. Create a new column that has the value of 1 if the medical specialty in that row contains the word Surgery and 0 otherwise. [10 pts]

In [582]:
diabetes_df['new_col'] = np.where(diabetes_df['medical_specialty'].str.contains('Surgery'),'1',
                                  '0')
diabetes_df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,new_col
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,NO,0
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,Up,No,No,No,No,No,Ch,Yes,>30,0
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,Yes,NO,0
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,Up,No,No,No,No,No,Ch,Yes,NO,0
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,Steady,No,No,No,No,No,Ch,Yes,NO,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,Down,No,No,No,No,No,Ch,Yes,>30,0
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,Steady,No,No,No,No,No,No,Yes,NO,0
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,Down,No,No,No,No,No,Ch,Yes,NO,0
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,Up,No,No,No,No,No,Ch,Yes,NO,1
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,NO,0

#### 10. How many encounters where the patient was between the ages of 0 and 20 took place with Pediatric providers? [5 pts]

In [583]:
age_string = diabetes_df['age'].apply(str)
result_dict = {}
for keys in age_string:
    if keys in result_dict:
        count = result_dict[keys]
    else:
        count = 0  
    count = count + 1
    result_dict[keys] = count
print(result_dict)

{'[0-10)': 161, '[10-20)': 691, '[20-30)': 1657, '[30-40)': 3775, '[40-50)': 9685, '[50-60)': 17256, '[60-70)': 22483, '[70-80)': 26068, '[80-90)': 17197, '[90-100)': 2793}

In [584]:
def pediatric (a,b):
    s = int(a) + int(b)
    return s 

num1 = 161
num2 = 691
sum = pediatric (num1, num2)
print("number of encounters with pediatric providers = ", sum)

number of encounters with pediatric providers =  852

#### 12. find the counts of each of the available A1Cresult categories, broken down by whether or not the patient was readmitted (regardless of whether it was less than or greater than 30 days) [2.5 pts]

In [585]:
diabetes_df.loc[(diabetes_df['A1Cresult'] != 'None')].head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,new_col
26,236316,40523301,Caucasian,Male,[80-90),?,1,3,7,6,...,No,No,No,No,No,No,Ch,Yes,NO,0
74,955884,93196251,Caucasian,Female,[70-80),?,1,3,7,5,...,Up,No,No,No,No,No,Ch,Yes,>30,0
98,1257282,84488562,Other,Female,[50-60),?,1,1,7,2,...,Up,No,No,No,No,No,Ch,Yes,NO,1
103,1270524,67897251,Caucasian,Male,[60-70),?,1,2,7,1,...,Steady,No,No,No,No,No,No,Yes,NO,0
107,1455252,96440301,Caucasian,Female,[80-90),?,1,1,7,3,...,No,No,No,No,No,No,No,No,>30,0


## Single-level CCS categories [40 pts]

The columns `diag_1`, `diag_2`,  and `diag_3` contain ICD-9-CM codes for the encounters that took place in this dataset. However, if we count up the number of unique values between the 3 columns, we can see that the data is very sparse. 

As we discussed in class, the single-level CCS categories can be used instead to group similar ICD codes together. Download the latest version of the ICD-9-CM single-level CCS here: [https://www.hcup-us.ahrq.gov/toolssoftware/ccs/Single_Level_CCS_2015.zip](https://www.hcup-us.ahrq.gov/toolssoftware/ccs/Single_Level_CCS_2015.zip)

Unzip this and put the contents in the `data` folder along with the Diabetes dataset and read the file called `$dxref 2015.csv` into a variable. **NOTE** You must skip the first row of this `csv` file when reading it in because there is a note there that is unrelated to the contents of the data. Look up how to do this using the `pd.read_csv` function

In [788]:
dxref_df = pd.read_csv('./data/$dxref 2015.csv', skiprows=1)
print(dxref_df)

      'ICD-9-CM CODE' 'CCS CATEGORY'      'CCS CATEGORY DESCRIPTION'  \
0             '     '        '0    '                         'No DX'
1             '01000'        '1    '                  'Tuberculosis'
2             '01001'        '1    '                  'Tuberculosis'
3             '01002'        '1    '                  'Tuberculosis'
4             '01003'        '1    '                  'Tuberculosis'
...               ...            ...                             ...
15068         'E8495'        '2621 '  'E Codes: Place of occurrence'
15069         'E8496'        '2621 '  'E Codes: Place of occurrence'
15070         'E8497'        '2621 '  'E Codes: Place of occurrence'
15071         'E8498'        '2621 '  'E Codes: Place of occurrence'
15072         'E8499'        '2621 '  'E Codes: Place of occurrence'

      'ICD-9-CM CODE DESCRIPTION' 'OPTIONAL CCS CATEGORY'  \
0      INVALID CODES IN USER DATA                     ' '
1          PRIM TB COMPLEX-UNSPEC                     ' '
2         PRIM TB COMPLEX-NO EXAM                     ' '
3        PRIM TB COMPLEX-EXM UNKN                     ' '
4        PRIM TB COMPLEX-MICRO DX                     ' '
...                           ...                     ...
15068     ACCID ON STREET/HIGHWAY                     ' '
15069     ACCIDENT IN PUBLIC BLDG                     ' '
15070    ACCID IN RESIDENT INSTIT                     ' '
15071       ACCIDENT IN PLACE NEC                     ' '
15072       ACCIDENT IN PLACE NOS                     ' '

      'OPTIONAL CCS CATEGORY DESCRIPTION'
0                                     ' '
1                                     ' '
2                                     ' '
3                                     ' '
4                                     ' '
...                                   ...
15068                                 ' '
15069                                 ' '
15070                                 ' '
15071                                 ' '
15072                                 ' '

[15073 rows x 6 columns]

Examine the contents of the data. Please bear in mind that Jupyter notebooks do not render whitespace or quotes very well sometimes, so watch out for that. Make sure you examine column names with `.columns` instead of just calling `.head()` and visually inspecting, for example.

In [789]:
dxref_df.columns[0]

"'ICD-9-CM CODE'"

If you notice, the ICD codes are not very well-formatted in either the Diabetes dataset (for example, the code `8` should really be `008.0`) or the Single-level CCS crosswalk (`' and whitespace characters`).

This is quite typical of healthcare data, unfortunately. Many of the publically available files are not suited for reading into modern programming languages. Often, they are limited to SAS format datasets, which is a proprietary software suite for working with statistical packages that is ubiquitous in health care.

In order to use the CCS groupings, we'll have to clean both the groupings *and* the diabetes data as well. Here is the general procedure that we will take (Although this is an imperfect mapping as well).

**Remove all quotes and extra whitespace from the codes and the column names in the CCS crosswalk [10 pts]**

In [790]:
dxref_df = dxref_df.rename(columns=lambda x: x.replace("'","").replace('"','')).replace(' ','')
for i, col in enumerate(dxref_df.columns):
    dxref_df.iloc[:, i] = dxref_df.iloc[:, i].str.replace("'","").replace('"','').replace(' ','')
dxref_df

,ICD-9-CM CODE,CCS CATEGORY,CCS CATEGORY DESCRIPTION,ICD-9-CM CODE DESCRIPTION,OPTIONAL CCS CATEGORY,OPTIONAL CCS CATEGORY DESCRIPTION
0,,0,No DX,INVALID CODES IN USER DATA,,
1,01000,1,Tuberculosis,PRIM TB COMPLEX-UNSPEC,,
2,01001,1,Tuberculosis,PRIM TB COMPLEX-NO EXAM,,
3,01002,1,Tuberculosis,PRIM TB COMPLEX-EXM UNKN,,
4,01003,1,Tuberculosis,PRIM TB COMPLEX-MICRO DX,,
...,...,...,...,...,...,...
15068,E8495,2621,E Codes: Place of occurrence,ACCID ON STREET/HIGHWAY,,
15069,E8496,2621,E Codes: Place of occurrence,ACCIDENT IN PUBLIC BLDG,,
15070,E8497,2621,E Codes: Place of occurrence,ACCID IN RESIDENT INSTIT,,
15071,E8498,2621,E Codes: Place of occurrence,ACCIDENT IN PLACE NEC,,
15072,E8499,2621,E Codes: Place of occurrence,ACCIDENT IN PLACE NOS,,

Next, we're going to write a function that cleans up the ICD codes found in the Diabetes dataset. If you'll notice, there are no decimal points in the single-level CCS crosswalk. Therefore, we must make sure that our data matches that as well. Implement the function below, and we will use it in an `.apply()` call to modify the `diag_` columns.

#### Implement this function [15 pts]

In [791]:
def clean_diabetes_code(icd_code):
    """
    Formats codes found in the Diabetes dataset to be like those found in the CCS crosswalk
    
    If an icd_code has a decimal, remove the decimal
    
    if it has less than 3 digits, prepend '0's, until it is 3 digits.
    
    If it has 3 digits (before or after the above step), append a '0'
    
    Examples:
        250.13 -> 25013
        32 -> 0320
        315 -> 3150
        
    Args: 
        icd_code:
    
    Returns:
        formatted_code string: A formatted ICD-Code string according to the above criteria:    
    """
    code_copy = str(icd_code) # Convert to string due to weird .apply behavior in Series
    ### Your Code here: -- modify code_copy until it returns the reformatted code. Store this in formatted_code and return it
    code_copy = code_copy.replace('?','nan')
    if code_copy == 'nan':
        return np.nan
    code_copy = code_copy.replace('.','')
    if len(code_copy)<3:
        code_copy = code_copy.zfill(3)
    if len(code_copy)==3:
        code_copy = code_copy+'0'
    return code_copy

Now, replace all three `diag_` columns by calling .apply with this function. For example:

`diabetes_df['diag_1'] = diabetes_df['diag_1'].apply(clean_diabetes_code)`

In [792]:
diabetes_df['diag_1'] = diabetes_df['diag_1'].apply(clean_diabetes_code)
diabetes_df['diag_2'] = diabetes_df['diag_2'].apply(clean_diabetes_code)
diabetes_df['diag_3'] = diabetes_df['diag_3'].apply(clean_diabetes_code)
diag = diabetes_df['diag_1'].append(diabetes_df['diag_2']).append(diabetes_df['diag_3']).reset_index(drop=True)
diag

0         25083
1          2760
2          6480
3          0080
4          1970
          ...
305293     4580
305294     7870
305295     2960
305296     9980
305297     7870
Length: 305298, dtype: object

#### Join in the single-level CCS crosswalk and answer the following question: [15 pts]

List the top 10 condition categories (`CCS CATEGORY DESCRIPTION`) when you add up all instances over all 3 columns

In [793]:
diag.value_counts()

4280    18101
2500    17861
2760    13816
4140    12895
4010    12371
        ...
7440        1
E904        1
3640        1
9760        1
V670        1
Length: 915, dtype: int64

In [809]:
category = []
for icd_code in diag.value_counts().index:
    category.append(dxref_df[dxref_df['ICD-9-CM CODE']==icd_code]['CCS CATEGORY DESCRIPTION'].values)

In [810]:
pd.DataFrame({'top 10 categories': category})

    top 10 categories
0                  []
1                  []
2                  []
3                  []
4                  []
..                ...
910                []
911                []
912                []
913                []
914                []

[915 rows x 1 columns]